body{ 
	background-color:#ff9800;
	width:69%;
	padding-left:15%;
	padding-right:15%;
 }


form{
	background:none repeat scroll 0 0 wheat;
	margin:0 auto;
	width:70%;
	}
	
	
#text{
	font-size: 23px;
	font-weight: bold;
}

#text1{
	font-size: 23px;
	font-weight: bold;
}

#checkbox1{
	font-size: 19px;
	font-weight: bold;
}

#checkbox2{
	font-size: 19px;
	font-weight: bold;
}
#select{
	font-size: 23px;
	font-weight: bold;
}
#select1{
	font-size: 22px;
	font-weight: bold;
}

#radio{
	font-size: 19px;
	font-weight: bold;
}
#radio1{
	font-size: 19px;
	font-weight: bold;
}

#select2{
	font-size: 23px;
	font-weight: bold;
}

#multiple1{
	font-size: 23px;
	font-weight: bold;
}
#multiple{
	font-size: 23px;
	font-weight: bold;
}

#titulo{
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
}

#examenDiv{
	text-align:center
}
#examenDiv img{
	float: left;
    width: 14%;
    position: relative;
	}

ul{
	
	margin:0 115px;
	padding:0%;
	overflow:hidden;
}
	

input{
	width:100%
	}
select{
	width:65%;
	}
input[type=checkbox]{
	width:50%;
	zoom:2;
}

input[type=radio]{
	width:50%;
	zoom:2;
	}

form{background-color:white;
		padding:6%;
		height: 10%;
				}

#resultadosDiv{
		width:50%;
		margin:20px auto;
}

#cor{
	background: #5cf338;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 33px;
}

#titulo22{
	font-size: 55px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}


#enlaceIndex li{
color:#48D1CC;
text-decoration:none;
font-size:40px;
line-height:1.3em;
padding:10px 14px 8px 16px;
display:block;
color: green;
cursor: pointer;
float: left;
}
p {

text-decoration:none;
font-size:20px;
}
#enlaceExamen li{
text-decoration:none;
font-size:30px;
float: right;
color: #ff9800;
cursor: pointer;
}
